{
  "swagger": "2.0",
  "info": {
    "description": "sino-adtech-amz 服务",
    "version": "1.0.0",
    "title": "sino-adtech-amz-server"
  },
  "host": "sino-adtech-amz.meetdev",
  "basePath": "/",
  "tags": [
    { "name": "AMZ 关键词", "description": "Amz Keyword Controller Impl" },
    {
      "name": "AMZ-广告管理-Asin-数据看板",
      "description": "Amz Asin Insight Controller Impl"
    },
    {
      "name": "AMZ-广告管理-关键词-数据看板",
      "description": "Amz Keyword Insight Controller Impl"
    },
    {
      "name": "AMZ-广告管理-数据看板",
      "description": "Amz Ads Insight Controller Impl"
    },
    {
      "name": "AMZ-广告管理-通用接口",
      "description": "Amz Ad Manage Controller Impl"
    },
    {
      "name": "AMZ-店铺-数据看板",
      "description": "Amz Shop Insight Controller Impl"
    },
    { "name": "AMZ-用户相关", "description": "User Controller Impl" },
    { "name": "AMZ优化规则", "description": "Amz Ad Rule Controller Impl" },
    { "name": "AMZ广告资产", "description": "Amz Ad Asset Controller Impl" },
    {
      "name": "customer-error-controller",
      "description": "Customer Error Controller"
    },
    {
      "name": "system-console-controller",
      "description": "System Console Controller"
    },
    { "name": "系统公共资源", "description": "System Controller Impl" }
  ],
  "paths": {
    "/_console/_status": {
      "get": {
        "tags": ["system-console-controller"],
        "summary": "status",
        "operationId": "statusUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "integer", "format": "int32" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/error": {
      "get": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      },
      "head": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingHEAD",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingDELETE",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        },
        "deprecated": false
      },
      "options": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingOPTIONS",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        },
        "deprecated": false
      },
      "patch": {
        "tags": ["customer-error-controller"],
        "summary": "error",
        "operationId": "errorUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/adgroup-analysis-ad-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告组分析-表格-广告",
        "operationId": "adGroupAnalysisAdSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAdGroupAnalysisAdSheetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAdGroupAnalysisAdSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/adgroup-analysis-funnel-plot": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告组分析-漏斗图",
        "operationId": "adGroupAnalysisFunnelPlotUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAdGroupAnalysisFunnelPlotRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAdGroupAnalysisFunnelPlotVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/adgroup-analysis-promotion-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告组分析-表格-投放",
        "operationId": "adGroupAnalysisPromotionSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAdGroupAnalysisPromotionSheetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAdGroupAnalysisPromotionSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/adgroup-analysis-trend-chart": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告组分析-趋势图",
        "operationId": "adGroupAnalysisTrendChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAdGroupAnalysisTrendChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAdGroupAnalysisTrendChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-adgroup-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告活动分析-表格",
        "operationId": "campaignAnalysisAdgroupSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisAdgroupSheetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzCampaignAnalysisAdgroupSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-budget-adgroups": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动预算分析列表-查询广告组合列表",
        "operationId": "campaignAnalysisBudgetAdGroupsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisBudgetAdGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一列表 VO«AmzCampaignAnalysisBudgetAdGroupsVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-budget-campaigns": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动预算分析列表-查询全部广告活动列表",
        "operationId": "campaignAnalysisBudgetCampaignsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisBudgetCampaignsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一列表 VO«AmzCampaignAnalysisBudgetCampaignsVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-budgets": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询广告活动预算分析列表",
        "operationId": "campaignAnalysisBudgetsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisBudgetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzCampaignAnalysisBudgetsVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-funnel-plot": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告活动分析-漏斗图",
        "operationId": "campaignAnalysisFunnelPlotUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisFunnelPlotRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzCampaignAnalysisFunnelPlotVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-analysis-trend-chart": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询单个广告活动分析-趋势图",
        "operationId": "campaignAnalysisTrendChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisTrendChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzCampaignAnalysisTrendChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign-hourly-order-analysis-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动-出单时段分析-表格",
        "operationId": "campaignHourlyOrderAnalysisSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignHourlyOrderAnalysisRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«List«AmzCampaignHourlyOrderAnalysisSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/analysis-ad-positions": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "单个广告活动分析-广告位列表",
        "operationId": "campaignAnalysisAdPositionsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignAnalysisAdgroupSheetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzCampaignAnalysisAdPositionsVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/analysis-ad-positions/update-bid": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "单个广告活动分析-广告位列表-修改竞价",
        "operationId": "campaignAnalysisAdPositionsUpdateBidUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzPlacementUpdateBidRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzPlacementUpdateBidVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-campaign-list": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-所在的广告活动-分页列表",
        "operationId": "asinCampaignListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinCampaignListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAsinCampaignVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-detail": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-商品详情",
        "operationId": "asinDetailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinInfoRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzAsinVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-funnel-plot": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-趋势分析-漏斗图",
        "operationId": "asinFunnelPlotUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAsinAnalysisFunnelPlotRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAsinAnalysisFunnelPlotVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-keyword-list": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-关联的用户搜索词",
        "operationId": "asinKeywordListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinKeywordListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAsinKeywordVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-list": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询Asin列表",
        "operationId": "paginateAsinUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinPaginationRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAsinVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-metric-change-chart": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-指标分析-指标变化图",
        "operationId": "asinMetricChangeChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAsinMetricChangeChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAsinMetricChangeChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-metric-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-指标分析-表格",
        "operationId": "asinMetricSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAsinMetricChangeChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«List«AmzAsinMetricSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-promotion-list": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-关联的投放",
        "operationId": "asinPromotionListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinPromotionListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAsinPromotionVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-trend-chart": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-趋势分析-趋势图",
        "operationId": "asinTrendChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzAsinAnalysisTrendChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAsinAnalysisTrendChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/asin-trend-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-Asin-数据看板"],
        "summary": "查询单个Asin-趋势分析-表格",
        "operationId": "asinTrendSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAsinTrendSheetRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAsinTrendSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/hourly-order-analysis-chart": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动-出单时段分析-图表",
        "operationId": "campaignHourlyOrderAnalysisChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzCampaignHourlyOrderAnalysisRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«List«AmzCampaignHourlyOrderAnalysisVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-ad": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词分析-关联的广告",
        "operationId": "keywordAdUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/KeywordAdListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordAdVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-campaign": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-所在的广告活动",
        "operationId": "keywordCampaignUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/KeywordCampaignListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordCampaignVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-funnel-plot": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-趋势分析-漏斗图",
        "operationId": "keywordFunnelPlotUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordTrendChartRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordFunnelPlotVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-list": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询关键词列表",
        "operationId": "keywordListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordInsightVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-metric-change-chart": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-指标对比-指标变化图",
        "operationId": "keywordMetricChangeChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzKeywordMetricChangeChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordMetricChangeChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-metric-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-指标对比-表格",
        "operationId": "keywordMetricSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzKeywordMetricChangeChartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«List«AmzKeywordMetricSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-search-word": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词分析-关联的用户搜索词",
        "operationId": "keywordSearchWordUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/KeywordSearchWordListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordSearchWordVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-trend-chart": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-趋势分析-趋势图",
        "operationId": "keywordTrendChartUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordTrendChartRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordTrendChartVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/keyword-trend-sheet": {
      "post": {
        "tags": ["AMZ-广告管理-关键词-数据看板"],
        "summary": "查询单个关键词-趋势分析-表格",
        "operationId": "keywordTrendSheetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordTrendSheetRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordTrendSheetVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/save-baselines": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动-出单时段分析-保存基准值",
        "operationId": "saveCampaignBaselinesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzSaveCampaignBaselinesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaign/update-budget": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "广告活动列表-更新预算",
        "operationId": "campaignUpdateBudgetUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/广告活动列表-更新预算入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzCampaignUpdateBudgetVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/campaigns": {
      "post": {
        "tags": ["AMZ-广告管理-数据看板"],
        "summary": "查询广告活动列表",
        "operationId": "paginateCampaignsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzCampaignPaginationRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzCampaignVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/custom-column-menu": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "查询自定义列默认菜单",
        "operationId": "customColumnMenuUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzCustomColumnMenuRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzCustomColumnMenuVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/delete-filter-conditions": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "删除筛选条件",
        "operationId": "deleteFilterConditionsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzDeleteFilterConditionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/query-filter-conditions": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "查询筛选条件",
        "operationId": "queryFilterConditionsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzQueryFilterConditionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzFilterConditionsVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/report-file-download": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "下载数据",
        "operationId": "reportFileDownloadUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzReportFileDownloadRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«Void»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/save-filter-conditions": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "筛选条件保存",
        "operationId": "saveFilterConditionsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzSaveFilterConditionsRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/sync-query": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "查询同步状态",
        "operationId": "querySyncUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzSyncRefreshRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzSyncRefreshVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/sync-submit": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "同步/单条刷新",
        "operationId": "syncSubmitUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzSyncRefreshRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/update-bid": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "竞价修改",
        "operationId": "updateBidUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzUpdateBidRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzUpdateBidVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/admanage/update-status": {
      "post": {
        "tags": ["AMZ-广告管理-通用接口"],
        "summary": "更新开关",
        "operationId": "updateStatusUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdsUpdateStateRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzAdsUpdateStateVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/checkRuleExistByName": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "根据名称检查规则是否存在",
        "operationId": "checkRuleExistByNameUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleSearchRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/createRule": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "创建规则",
        "operationId": "createRuleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "createRequest",
            "description": "createRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleCreateRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzAdRuleVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/deleteRule": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "删除规则",
        "operationId": "deleteRuleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleInfoRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«Void»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/getRuleInfo": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "规则详情",
        "operationId": "getRuleInfoUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleInfoRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzAdRuleVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/getRuleList": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "规则列表",
        "operationId": "getRuleListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAdRuleListVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/getRuleLogList": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "规则执行日志列表",
        "operationId": "getRuleLogListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleLogListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzAdRuleLogListVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/getRuleStats": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "规则统计",
        "operationId": "getRuleCountUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleStatisticsRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzAdRuleStatsVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/updateRule": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "更新规则",
        "operationId": "updateRuleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleUpdateRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«AmzAdRuleVO»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/updateRuleStatus": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "更新规则状态",
        "operationId": "updateRuleStatusUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleUpdateStatusRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«Void»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/adrule/validRuleAction": {
      "post": {
        "tags": ["AMZ优化规则"],
        "summary": "规则动作校验",
        "operationId": "validRuleActionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdRuleActionValidRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/公共响应 VO«Void»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/asset/getCampaignList": {
      "post": {
        "tags": ["AMZ广告资产"],
        "summary": "广告活动列表",
        "operationId": "getCampaignListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "query",
            "description": "accessContext",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdAssetCampaignListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponseVO«List«AmzAdAssetCampaignVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/asset/getKeywordList": {
      "post": {
        "tags": ["AMZ广告资产"],
        "summary": "关键词列表",
        "operationId": "getKeywordListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "query",
            "description": "accessContext",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdAssetKeywordListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponseVO«List«AmzAdAssetKeywordVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/asset/getShopList": {
      "post": {
        "tags": ["AMZ广告资产"],
        "summary": "店铺列表(暂时无用)",
        "operationId": "getShopListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "query",
            "description": "accessContext",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzAdAssetShopListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResponseVO«AmzAdAssetShopVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": true
      }
    },
    "/v1/amz/keyword/aba-research": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "ABA数据选品（关键词信息）查询列表",
        "operationId": "abaResearchUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«统一分页 VO«AmzKeywordVO»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/keyword/click-rate": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "获取点击集中度数据",
        "operationId": "clickRateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzKeywordTrendsMarketSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordTrendsClickRateVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/keyword/contrast": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "多个关键词指标数据查询接口",
        "operationId": "contrastUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/AmzKeywordContrastRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordContrastVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/keyword/google-trends": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "google趋势",
        "operationId": "googleTrendsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzKeywordTrendsGoogleTDRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordTrendsGoogleTDVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/keyword/marketplaces": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "站点下拉选择框",
        "operationId": "marketplacesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "pageQuery",
            "description": "pageQuery",
            "required": false,
            "schema": { "$ref": "#/definitions/PageQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordMarketVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/v1/amz/keyword/ppc-bid": {
      "post": {
        "tags": ["AMZ 关键词"],
        "summary": "获取PPC竞价数据",
        "operationId": "ppcBidUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "X-Sino-Userid",
            "in": "header",
            "description": "sinoUserId",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessContext",
            "in": "header",
            "description": "accessContext",
            "required": true,
            "items": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmzKeywordTrendsMarketSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/公共响应 VO«AmzKeywordTrendsPPCVO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
[...]
