.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1440px;
  height: 845px;
  overflow: hidden;
}

.block_1 {
  background-color: rgba(247, 248, 250, 1);
  width: 1440px;
  height: 845px;
}

.box_37 {
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/fa0eeabf603a45ae84bd5c8a078b2d83_mergeImage.png);
  width: 1440px;
  height: 56px;
}

.group_2 {
  box-shadow: 0px 2px 6px -4px rgba(29, 33, 41, 0.1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1344px;
  height: 747px;
  margin: 16px 0 0 80px;
}

.text_1 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 16px 0 0 16px;
}

.box_38 {
  width: 1312px;
  height: 32px;
  margin: 16px 0 0 16px;
}

.group_30 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 140px;
  height: 32px;
  border: 1px solid rgba(229, 230, 235, 1);
}

.text_172 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.thumbnail_33 {
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 48px;
}

.group_31 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 140px;
  height: 32px;
  border: 1px solid rgba(229, 230, 235, 1);
  margin-left: 16px;
}

.text_173 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.thumbnail_34 {
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 48px;
}

.group_32 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 140px;
  height: 32px;
  border: 1px solid rgba(229, 230, 235, 1);
  margin-left: 16px;
}

.text_174 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.thumbnail_35 {
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 76px;
}

.text-wrapper_99 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(229, 230, 235, 1);
  margin-left: 16px;
  width: 180px;
}

.text_175 {
  width: 98px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(201, 205, 212, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.group_33 {
  background-color: rgba(223, 233, 249, 1);
  border-radius: 4px;
  height: 32px;
  margin-left: 24px;
  width: 65px;
}

.text-wrapper_100 {
  background-color: rgba(33, 113, 254, 0);
  border-radius: 4px;
  height: 32px;
  width: 65px;
}

.text_176 {
  width: 33px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.text-wrapper_101 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 32px;
  width: 65px;
}

.text_177 {
  width: 33px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.group_34 {
  background-color: rgba(33, 113, 254, 1);
  border-radius: 4px;
  height: 32px;
  margin-left: 422px;
  width: 88px;
}

.text-wrapper_102 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 32px;
  width: 88px;
}

.text_178 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.box_39 {
  width: 1312px;
  height: 48px;
  margin: 16px 0 0 16px;
}

.section_12 {
  background-color: rgba(247, 248, 250, 1);
  width: 481px;
  height: 48px;
}

.text_179 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_29 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 408px;
}

.section_13 {
  background-color: rgba(247, 248, 250, 1);
  width: 80px;
  height: 48px;
}

.text_180 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_30 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 35px;
}

.section_14 {
  background-color: rgba(247, 248, 250, 1);
  width: 150px;
  height: 48px;
}

.text_181 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_31 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 77px;
}

.section_15 {
  background-color: rgba(247, 248, 250, 1);
  width: 189px;
  height: 48px;
}

.text_182 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_32 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 144px;
}

.section_16 {
  background-color: rgba(247, 248, 250, 1);
  width: 168px;
  height: 48px;
}

.text_183 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_33 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 95px;
}

.section_17 {
  background-color: rgba(247, 248, 250, 1);
  width: 244px;
  height: 48px;
}

.text_184 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 13px 0 0 16px;
}

.image_34 {
  width: 1px;
  height: 24px;
  margin: 15px 0 0 199px;
}

.list-items_1 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_103 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_185 {
  width: 380px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_104 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 230px;
  width: 200px;
}

.text_186 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_105 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_187 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_106 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_188 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_107 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_189 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_122 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.group_35 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3ca279589e0aaed1f421f54a749f46a244aeee134aa87388bad539277a8b3074)
    100% no-repeat;
  background-size: 100% 100%;
  width: 260px;
  position: absolute;
  left: 481px;
  top: 0;
}

.text-wrapper_108 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_190 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.group_15 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_109 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_191 {
  width: 105px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_110 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_192 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_111 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 200px;
}

.text_193 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_112 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_194 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_113 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_195 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_114 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_196 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_130 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.image_35 {
  position: absolute;
  left: 481px;
  top: 0;
  width: 260px;
  height: 40px;
}

.group_16 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_115 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_197 {
  width: 380px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_116 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 230px;
  width: 200px;
}

.text_198 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_117 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_199 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_118 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_200 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_119 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_201 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_136 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.group_36 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3ca279589e0aaed1f421f54a749f46a244aeee134aa87388bad539277a8b3074)
    100% no-repeat;
  background-size: 100% 100%;
  width: 260px;
  position: absolute;
  left: 481px;
  top: 0;
}

.text-wrapper_120 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_202 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.group_17 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_121 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_203 {
  width: 105px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_122 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_204 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_123 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 200px;
}

.text_205 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_124 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_206 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_125 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_207 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_126 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_208 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_144 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.image_36 {
  position: absolute;
  left: 481px;
  top: 0;
  width: 260px;
  height: 40px;
}

.group_18 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_127 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_209 {
  width: 380px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_128 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 230px;
  width: 200px;
}

.text_210 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_129 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_211 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_130 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_212 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_131 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_213 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_150 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(134, 144, 156, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.group_37 {
  height: 40px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3ca279589e0aaed1f421f54a749f46a244aeee134aa87388bad539277a8b3074)
    100% no-repeat;
  background-size: 100% 100%;
  width: 260px;
  position: absolute;
  left: 481px;
  top: 0;
}

.text-wrapper_132 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_214 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.group_19 {
  box-shadow: inset 0px -1px 0px 0px rgba(242, 243, 245, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1312px;
  height: 40px;
  margin-left: 16px;
}

.text-wrapper_133 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 481px;
}

.text_215 {
  width: 105px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_134 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 80px;
  width: 150px;
}

.text_216 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_135 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 200px;
}

.text_217 {
  width: 168px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_136 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: -11px;
  width: 168px;
}

.text_218 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(78, 89, 105, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 16px;
}

.text-wrapper_137 {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 94px;
}

.text_219 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 27px;
}

.text-wrapper_138 {
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 40px;
}

.text_220 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 0 0 6px;
}

.text_221 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 9px 62px 0 26px;
}

.image_37 {
  position: absolute;
  left: 481px;
  top: 0;
  width: 260px;
  height: 40px;
}

.box_40 {
  width: 746px;
  height: 54px;
  margin: 33px 0 0 586px;
}

.box_41 {
  box-shadow: 0px 2px 20px 0px rgba(29, 33, 41, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 108px;
  height: 54px;
  border: 1px solid rgba(0, 180, 42, 1);
}

.image-text_14 {
  width: 76px;
  height: 22px;
  margin: 16px 0 0 16px;
}

.thumbnail_36 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.text-group_14 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_15 {
  width: 86px;
  height: 36px;
  margin: 18px 0 0 216px;
}

.text-group_15 {
  width: 45px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 7px;
}

.label_7 {
  width: 36px;
  height: 36px;
}

.text-wrapper_139 {
  background-color: rgba(242, 243, 245, 0);
  border-radius: 4px;
  height: 36px;
  width: 36px;
  margin: 18px 0 0 8px;
}

.text_222 {
  width: 6px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.text-wrapper_140 {
  background-color: rgba(238, 244, 255, 1);
  border-radius: 4px;
  height: 36px;
  margin-top: 18px;
  width: 36px;
}

.text_223 {
  width: 9px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 14px;
}

.text-wrapper_141 {
  background-color: rgba(242, 243, 245, 0);
  border-radius: 4px;
  height: 36px;
  margin-top: 18px;
  width: 36px;
}

.text_224 {
  width: 9px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 14px;
}

.text-wrapper_142 {
  background-color: rgba(242, 243, 245, 0);
  border-radius: 4px;
  height: 36px;
  margin-top: 18px;
  width: 36px;
}

.text_225 {
  width: 21px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 8px;
}

.text-wrapper_143 {
  background-color: rgba(242, 243, 245, 0);
  border-radius: 4px;
  height: 36px;
  margin-top: 18px;
  width: 36px;
}

.text_226 {
  width: 9px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 14px;
}

.label_8 {
  width: 36px;
  height: 36px;
  margin: 18px 0 0 8px;
}

.box_42 {
  background-color: rgba(242, 243, 245, 1);
  border-radius: 4px;
  width: 96px;
  height: 36px;
  margin: 18px 0 0 8px;
}

.image-text_16 {
  width: 74px;
  height: 22px;
  margin: 7px 0 0 12px;
}

.text-group_16 {
  width: 50px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.thumbnail_37 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.box_43 {
  background-color: rgba(33, 113, 254, 1);
  border-radius: 4px;
  height: 32px;
  width: 88px;
  margin: 59px 0 0 1178px;
}

.text-wrapper_144 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 32px;
  width: 88px;
}

.text_227 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.box_44 {
  width: 812px;
  height: 160px;
  margin: 0 0 19px 438px;
}

.box_45 {
  box-shadow: 0px 6px 20px 0px rgba(29, 33, 41, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: 424px;
  height: 160px;
}

.block_4 {
  width: 380px;
  height: 24px;
  margin: 20px 0 0 24px;
}

.image-text_17 {
  width: 180px;
  height: 24px;
}

.label_9 {
  width: 24px;
  height: 24px;
}

.text-group_17 {
  width: 144px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.thumbnail_38 {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.text_228 {
  width: 340px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 8px 0 0 60px;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px 8px 0px 0px;
  width: 424px;
  height: 56px;
  margin-top: 30px;
}

.text-wrapper_145 {
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(134, 144, 156, 1);
  width: 65px;
  margin: 4px 0 0 262px;
}

.text_229 {
  width: 33px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.box_46 {
  background-color: rgba(33, 113, 254, 1);
  border-radius: 4px;
  height: 32px;
  width: 65px;
  margin: 4px 24px 0 8px;
}

.text-wrapper_146 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 32px;
  width: 65px;
}

.text_230 {
  width: 33px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.text-wrapper_147 {
  height: 54px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng09722a46c6eaf4c6af42347cfb6f3dd2bac0871f592e3fb2fd8970beed481957) -11px -7px
    no-repeat;
  background-size: 339px 76px;
  margin-top: 5px;
  width: 317px;
}

.text_231 {
  width: 294px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 19px 0 0 13px;
}

.text-wrapper_148 {
  height: 54px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngeada4f9954bf56cd908c2bc40dd1394d32bb55d0a5dcb33e0e2e91e7e357af21) -11px -7px
    no-repeat;
  background-size: 201px 76px;
  width: 179px;
  position: absolute;
  left: 1095px;
  top: 263px;
}

.text_167 {
  width: 140px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 19px 0 0 10px;
}

.box_47 {
  width: 1440px;
  height: 27px;
  margin-bottom: 1px;
}

.block_6 {
  width: 64px;
  height: 1066px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4b3d9a3d4106cc7e7cf0385454d6ac5d138c56d9754580dea95bf4eccbc018ca)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -763px;
}

.thumbnail_39 {
  width: 16px;
  height: 16px;
  margin: 22px 0 0 24px;
}

.text_232 {
  width: 32px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 5px 0 0 16px;
}

.thumbnail_40 {
  width: 16px;
  height: 16px;
  margin: 16px 0 0 24px;
}

.text_233 {
  width: 32px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 16px;
}

.thumbnail_41 {
  width: 16px;
  height: 16px;
  margin: 16px 0 0 24px;
}

.text_234 {
  width: 32px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 16px;
}

.thumbnail_42 {
  width: 16px;
  height: 16px;
  margin: 16px 0 0 24px;
}

.text_235 {
  width: 32px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 16px;
}

.image-text_18 {
  width: 32px;
  height: 48px;
  margin: 16px 0 743px 16px;
}

.thumbnail_43 {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.text-group_18 {
  width: 32px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 8px;
}
